# User
*.suo
*.user
*.userosscache
*.sln.docstates
StyleCop.Cache
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.vs/
*.idea/

# Build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.lock.json

# Temp
Temp/
~$*
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# Mac
.DS_Store
